.navbar{
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
  background-color: #25294A;
}

.navbar h1{
  margin-left: 30px;
  line-height: 80px;
  font-size: 36px;
  font-weight: bold;

}

.nav_link{
  display: grid;
  grid-template-columns: repeat(2, 100px);
  padding: 0 20px;
  gap: 28px;
  justify-content: end;
}

.navigator{
  text-align: center;
  padding: 5px;
  background-color: #2D325A;
  border-radius: 4px;
  color: aliceblue;
}
/* Image Intro */

.intro_container{
  height: 550px;
  background-color: #25294A;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 20px 20px;
}

.intro{
  grid-template-rows: repeat(4, 150px);
  display: grid;
  gap: 10px;
  padding: 10px 20px 0px 0px;
}

.intro_item1{
  padding: 20px;
  border: 1px solid #2D325A;
  height: auto;
  border-radius: 8px;
  background-color: #2D325A;
}

.intro_item1 h1{
  font-size: 20px;
}

.intro_item1 p{
  font-size: 16px;
}


.intro_pic{
  scale: 1.2;
  height: 450px;
  background-color: transparent;
  background-image: url("/landing_pics/hoyo1.png");
  background-repeat: no-repeat;
  background-position: bottom;

}

/*CONTENT*/
.content_container{
  background-color: #25294A;
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  padding: 60px 100px;
}


.hi3{
border: 1px solid #2D325A;
height: 400px;
border-radius: 8px;
background-color: #2D325A;
background-image: url("/landing_pics/HoO_summer.webp");
background-position: center;
background-size: cover ;
background-repeat: no-repeat;
cursor: pointer;
}
.hsr{
  border: 1px solid #2D325A;
  height: 400px;
  border-radius: 8px;
  background-color: #2D325A;
  background-image: url("/landing_pics/kafka.jpg");
  background-position: center;
  background-size: cover ;
  background-repeat: no-repeat;
  cursor: pointer;
}
.gi{
  border: 1px solid #2D325A;
  height: 400px;
  border-radius: 8px;
  background-color: #2D325A;
  background-image: url("/landing_pics/raiden.webp");
  background-position: 30%;
  background-size: cover ;
  background-repeat: no-repeat;
  cursor: pointer;
}
.zzz{
  border: 1px solid #2D325A;
  height: 400px;
  border-radius: 8px;
  background-color: #2D325A;
  background-image: url("/landing_pics/nicole.jpg");
  background-position: 30%;
  background-size: cover ;
  background-repeat: no-repeat;
  cursor: pointer;

}

.card_content{
  color: aliceblue;
}

.card_content:active{
    color: aliceblue;
}

.card_content h1{
  font-size: 1.6rem;
  text-align: center;
  position: relative;
  bottom: 40px;
}


/* Footer */

.footer{
  background-color: #25294A;
  padding: 40px 20px;

}

.footer p{
  text-align: center;
}

.contact{
  text-align: center;
}

.contact a:visited{
  color: aliceblue;
}

.icon{
  font-size: 30px;
  margin: 30px 50px 0px 30px;
}

